name: Build Next.js

on:
  pull_request:
    types: [ opened, synchronize ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.17.0'
      - name: Install dependencies
        run: yarn install
      - name: build
        run: yarn build
